nav {
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    background-color: lightgray;
    text-align: left;
    padding: 15px 50px 15px 50px;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

nav a:visited,
nav a:active {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: red;
}